<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />    
  </configSections>
  
    <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>    

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ClientLog.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[Date: %date] [Thread: %thread] [Level: %-5level] [Method: %M] [Class: %C] - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
    
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
          <binding name="BasicHttpBinding_IConverterService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Converter" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IConverterService"
          contract="AndriiCo.ConverterServer.ConverterServiceLib.IConverterService"
          name="BasicHttpBinding_IConverterService" />
    </client>
  </system.serviceModel>   
  
  <appSettings>
    <add key="CurrentWcfEndpoint" value="BasicHttpBinding_IConverterService"/>
  </appSettings>
</configuration>